<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    În cazul unei răni grave sau a unei boli, este important să aveți grijă la semne de șoc (vezi mai jos).

    Șocul este o afecțiune care pune în pericol viața care apare atunci când sistemul circulator nu reușește să
    furnizeze suficient sânge oxigenat organismului și, ca urmare, privează organele vitale de oxigen.

    Acest lucru se datorează, de obicei, unei pierderi de sânge severe, dar poate apărea și după arsuri severe,
    vărsături severe, atac de cord, infecție bacteriană sau reacție alergică severă (anafilaxie).

    Tipul de șoc descris aici nu este același cu răspunsul emoțional al sentimentului de șoc, care poate apărea și în
    urma unui accident.

    Semnele de șoc includ:

     - piele palidă, rece, scoasă
     - transpiraţie
     - respirație rapidă și superficială
     - slăbiciune și amețeli
     - simțindu-te bolnav și eventual vomită
     - sete
     - căscat
     - suspinare

    Caută imediat ajutor medical dacă observi că cineva are oricare dintre semnele de șoc menționate mai sus. Dacă o
    fac, ar trebui:
     - apelați 999 sau 112 cât mai curând posibil și cereți o ambulanță
     - trata orice răni evidente
     - culcați persoana dacă leziunile vă permit și, dacă este posibil, ridicați și susțineți picioarele
     - folosiți o haină sau o pătură pentru a le menține calde
     - nu le da nimic să mănânce sau să bea
     - oferă-le mult confort și liniște
     - monitorizați persoana - dacă nu mai respiră, porniți RCP și re-alertați serviciile de urgență
    </p>

    <ul class="pager">
      <li routerLinkActive="active"><a routerLink="/first_aid/poisoning">Previous</a></li>
      <li><a routerLink="/first_aid/stroke">Next</a></li>
    </ul>
  </div>