<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Un atac de cord este una dintre cele mai frecvente afecțiuni cardiace care pot pune viață în Marea Britanie.

    Dacă credeți că o persoană suferă sau a avut un atac de cord, așezați-le și faceți-le cât mai confortabile și sună
    la 999 sau 112 pentru o ambulanță.

    Printre simptomele unui atac de cord se numără:

     - durere în piept - durerea este de obicei localizată în partea centrală sau stângă a pieptului și poate simți o
    senzație de presiune, de etanșare sau de stoarcere
     - durere în alte părți ale corpului - se poate simți ca și cum durerea călătorește de la piept în jos pe una sau
    ambele brațe sau în maxilar, gât, spate sau abdomen (burtă)
    Așezați persoana jos și faceți-i confortabili.

    Dacă sunt conștienți, asigurați-le și cereți-le să ia o tabletă de aspirină de 300 mg pentru a mesteca lent (cu
    excepția cazului în care știți că nu ar trebui să ia aspirină - de exemplu, dacă au sub 16 ani sau sunt alergici la
    ea).

    Dacă persoana are orice medicament pentru angină , cum ar fi un spray sau tablete, ajută-i să o ia. Monitorizează-le
    semnele vitale, cum ar fi respirația, până când ajută ajutorul.

    Dacă persoana se deteriorează și devine inconștientă, deschide calea aeriană, verifică respirația și, dacă este
    necesar, începe CPR . Realertați serviciile de urgență că victima se află acum în stop cardiac.
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/fracture">Previous</a></li>
    <li><a routerLink="/first_aid/poisoning">Next</a></li>
  </ul>
</div>