<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Dacă cineva are o arsură sau o scaldă:

    - răciți arsura cât mai repede cu apă curgătoare răcoroasă timp de cel puțin 10 minute sau până când ameliorarea
   durerii
    - sunați la 999 sau solicitați ajutor medical, dacă este nevoie
    - în timp ce răciți arsura, îndepărtați cu atenție orice îmbrăcăminte sau bijuterii, cu excepția cazului în care este
   atașat de piele
    - dacă răciți o suprafață mare arsă, în special la bebeluși, copii și vârstnici, trebuie să fiți conștienți de faptul
   că aceasta poate provoca hipotermie (poate fi necesar să opriți răcirea arsurii pentru a evita hipotermia)
    - acoperiți arsura vag cu film de agățare; dacă nu este disponibilă pelicula de clingă, utilizați un pansament curat,
   uscat sau un material non-pufos; nu înfășurați bine arsura, deoarece umflarea poate duce la răni ulterioare
    - nu aplicați creme, loțiuni sau spray-uri pentru arsuri

   Pentru arsuri chimice, purtați mănuși de protecție, îndepărtați hainele afectate și clătiți arsura cu apă curgătoare
   rece pentru cel puțin 20 de minute pentru a spăla produsul chimic. Dacă este posibil, determinați cauza vătămării.

   În anumite situații în care un produs chimic este manipulat în mod regulat, poate fi disponibil un antidot chimic
   specific.

   Aveți grijă să nu vă contaminați și să vă răniți cu substanța chimică și, dacă este necesar, purtați haine de
   protecție.

   Sunați la 999 sau la 112 pentru ajutor medical imediat.
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/bleeding">Previous</a></li>
    <li><a routerLink="/first_aid/choking">Next</a></li>
  </ul>
</div>