<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Dacă cineva este în dificultate în apă, nu intrați în apă pentru a vă ajuta dacă nu este absolut esențial.

    Odată ce persoana este pe uscat, dacă nu respiră, deschide calea aeriană și dă cinci respirații inițiale de salvare
    înainte de a începe CPR. Dacă sunteți singur, efectuați CPR timp de un minut înainte de a solicita ajutor de
    urgență.

    Aflați cum puteți da CPR, inclusiv respirații de salvare.

    Dacă persoana este inconștientă, dar încă respiră, pune-le în poziția de recuperare, cu capul mai jos decât corpul
    și cheamă imediat o ambulanță.

    Continuați să observați victima pentru a vă asigura că nu încetează să respire sau că calea aeriană este blocată.
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/choking">Previous</a></li>
    <li><a routerLink="/first_aid/electric_shock">Next</a></li>
  </ul>
</div>