<div class="container" style="padding-top: 20px">
  <mat-card class="spline-card">
    <img mat-card-image src="/assets/human-body/organs/spline.svg" width="400px" height="400px">
  </mat-card>
</div>

<div style="width: 50px; height: 50px; padding-top: 20px; position: absolute;">
 <div id="mySidenav" class="sidenav">
    <a id="disease" (click)="onDiseaseClick()" style="cursor: pointer;">Diseases</a>
    <a id="treatment" (click)="onTreatmentClick()" style="cursor: pointer;">Treatment</a>
    <a id="prevention" (click)="onPreventionClick()" style="cursor: pointer;">Prevention</a>
  </div>
</div>
<div  style="padding-top: 20px; position: absolute;">
  <div *ngIf="selectedDisease">
    <ul *ngFor="let spline of splines">
      <li>{{spline.name_disease}}</li>
      <li>{{spline.description_disease}}</li>
    </ul>
  </div>
  <div *ngIf="selectedTreatment">
    <ul *ngFor="let kidney of splines">
      <li>{{spline.treatment}}</li>
    </ul>
  </div>
  <div *ngIf="selectedPrevention">
    <ul *ngFor="let kidney of splines">
      <li>{{spline.prevention}}</li>
    </ul>
  </div>
</div>