<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Ghidul FAST este cel mai important lucru de reținut atunci când aveți de-a face cu persoane care au suferit un
    accident vascular cerebral . Cu cât primesc mai devreme tratament, cu atât mai bine. Apelați imediat la asistență
    medicală de urgență.

    Dacă credeți că o persoană a suferit un accident vascular cerebral, utilizați ghidul FAST:

    Slăbiciunea facială - persoana nu este în măsură să zâmbească în mod egal sau este ochii sau gura căscată?
    Slăbiciunea brațului - persoana este capabilă doar să ridice un braț?
    Probleme de vorbire - persoana nu poate să vorbească clar sau să vă înțeleagă?
    E timpul să sunați la 999 sau 112 - pentru ajutor de urgență dacă o persoană are oricare dintre aceste simptome
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/shock">Previous</a></li>
    <!-- <li><a routerLink="/first_aid/stroke">Next</a></li> -->
  </ul>
</div>