<!-- <div class="fixed-bg"></div> -->
<!-- <img src="../../assets/images/anaphylaxis.png" alt="{{title}}" style="max-height: 150px; margin-right: 10px;"> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    <strong>Anafilaxia</strong> (sau șocul anafilactic) este o reacție alergică severă care poate apărea după înțepăturile unei insecte
    sau după consumul anumitor alimente. Reacția adversă poate fi foarte rapidă, apărând în câteva secunde sau minute de
    la intrarea în contact cu substanța la care persoana este alergică (alergen).</p>

  <p>În timpul șocului anafilactic, poate fi dificil pentru persoana să respire, deoarece limba și gâtul lor se pot
    umfla, obstrucționându-și căile respiratorii.</p>

  <p>Sunați la 112 imediat dacă credeți că cineva are un șoc anafilactic.</p>

  <p>Verificați dacă persoana transportă vreun medicament. Unii oameni care știu că au alergii severe pot purta un
    auto-injector de adrenalină, care este un tip de seringă preîncărcată. Puteți ajuta persoana să-și administreze
    medicația sau, dacă sunteți instruit în acest sens, dați-o singură.</p>

  <p>După injecție, continuați să aveți grijă de persoană până când va veni ajutorul medical. Toate victimele care au
    avut o injecție intremusculară sau subcutanată (sub piele) de adrenalină trebuie văzute și verificate medical de
    către un profesionist din domeniul sănătății cât mai curând posibil după administrarea injecției.</p>

  <p>Asigurați-vă că sunt confortabili și pot respira cât mai bine în timp ce așteptați să vină ajutor medical. Dacă
    sunt
    conștienți, așezarea în poziție verticală este în mod normal cea mai bună poziție pentru ei.
  </p>

  <ul class="pager">
    <!-- <li routerLinkActive="active"><a routerLink="/home">Previous</a></li> -->
    <li><a routerLink="/first_aid/bleeding">Next</a></li>
  </ul>
</div>
