/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~leaflet/dist/leaflet.css";

body {
    display: block;
    height: 100%;
}

app-root {
    display: block;
    height: 100%;
}

th {
    text-align: center;
}