<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>


<!-- <div class="container" style="padding-top: 20px;">
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field style="margin-left: 10px;" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="email@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Tranfusion Center</mat-label>
      <mat-select>
        <mat-option value="option">Centrul de transfuzie Brasov</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 413px;" appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button style="margin-left: 165px;">Submit</button>
  </div>
</div> -->

<app-donation></app-donation>