.maleBody {
    position: absolute;
    display: block;
    pointer-events: none;
}

#Chest_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Neck_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Head_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Left_Arm_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Right_Arm_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Left_Forearm_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Right_Forearm_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Left_Hand_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Right_Hand_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Abdomen_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Penis_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Left_Lower_Limb_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Left_Leg_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Right_Lower_Limb_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Right_Leg_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Left_Foot_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Right_Foot_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Left_Shoulder_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}

#Right_Shoulder_Male {
    pointer-events: visibleFill;
    fill: rgba(255, 255, 255, 0);
}