<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Poate fi dificil de spus dacă o persoană are un os rupt sau o articulație, spre deosebire de o simplă leziune
    musculară. Dacă aveți vreo îndoială, tratați vătămarea ca un os rupt.

    Dacă persoana este inconștientă, are dificultăți de respirație sau sângerare severă, acestea trebuie abordate mai
    întâi, prin controlul sângerării cu presiune directă și efectuarea CPR .

    Dacă persoana este conștientă, preveniți durerea sau deteriorarea suplimentară păstrând fractura cât mai mult
    posibil până când veți ajunge în siguranță la spital.

    Evaluează vătămarea și decide dacă cea mai bună modalitate de a-i duce la spital este cu ambulanța sau mașina. De
    exemplu, dacă durerea nu este prea severă, le puteți transporta cu mașina la spital. Este întotdeauna cel mai bine
    să conduci pe altcineva să conducă, astfel încât să poți face față victimei dacă se deteriorează - de exemplu, dacă
    își pierd conștiența ca urmare a durerii sau încep să vomite.

    Cu toate acestea, dacă:

     - au foarte multă durere și au nevoie de medicamente puternice, nu le mișcați și apelați o ambulanță
     - este evident că au un picior rupt, nu-i mișcați, dar păstrați-i în poziția în care i-ați găsit și sună o ambulanță
     - banuiesti ca s-au ranit sau i-au rupt spatele, nu le muta si cheama o ambulanta
     
    Nu dați victimei nimic de mâncare sau băutură, deoarece ar putea avea nevoie de un anestezic (medicamente
    amorțitoare) când ajung la spital.
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/electric_shock">Previous</a></li>
    <li><a routerLink="/first_aid/heart_attack">Next</a></li>
  </ul>
</div>