<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Dacă cineva sângerează puternic, scopul principal este prevenirea pierderilor de sânge în continuare și minimizarea
    efectelor șocului (vezi mai jos).

    Mai întâi, formează 999 și solicită o ambulanță cât mai curând posibil.

    Dacă aveți mănuși de unică folosință, folosiți-le pentru a reduce riscul de a fi transmise o infecție.

    Verificați dacă nu există nimic încorporat în rană. Dacă există, aveți grijă să nu apăsați pe obiect.

    În schimb, apăsați ferm pe ambele părți ale obiectului și construiți captuseala în jurul lui înainte de bandajare,
    pentru a evita să faceți presiune asupra obiectului în sine.

    Dacă nimic nu este încorporat:

    aplicați și mențineți presiunea pe rană cu mâna înmănușată, folosind un tampon curat sau un pansament, dacă este
    posibil; continuați să aplicați presiune până când sângerarea se oprește
    folosiți un pansament curat pentru a bandaja ferm rana
    dacă sângerarea continuă prin tampon, aplicați presiune pe rană până când sângerarea se oprește, apoi aplicați un
    alt tampon peste partea superioară și bandajează-l în loc; nu scoateți garnitura sau pansamentul original, dar
    continuați să verificați dacă sângerarea s-a oprit
    Dacă o parte a corpului, cum ar fi un deget, a fost tăiată, așezați-o într-o pungă de plastic sau înveliți-o într-o
    peliculă agățată și asigurați-vă că va merge cu spitalul.

    Căutați întotdeauna ajutor medical pentru sângerare, cu excepția cazului în care este minor.

    Pansamente hemostatice și turete <!-- bold -->
    În anumite situații, când sângerarea este foarte severă și de la extremitățile corpului, cum ar fi capul, gâtul și
    torsul, poate fi indicat să folosiți pansamente hemostatice sau un turniquet.

    Pansamentele hemostatice conțin proprietăți care ajută sângele să se coaguleze (să se îngroașească) mai rapid. Un
    turniquet este o bandă care se înfășoară strâns în jurul unui membre pentru a opri pierderea de sânge. Pansamentele
    și turnichetele hemostatice trebuie utilizate numai de către persoanele care au fost instruite să le aplice.
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/anaphylaxis">Previous</a></li>
    <li><a routerLink="/first_aid/burns">Next</a></li>
  </ul>
</div>
