<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<div id="jokeContainer" class="px-10 py-10">
</div>

<button id="getJoke" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 ml-6">Get another
  joke</button>

<div id="jokeSetttings" class="inline pl-8">
  <div id="filterExplicitContainer" class="inline">
    <p class="inline">Filter explicit jokes</p>
    <div class="inline-block relative w-20">
      <select id="filterExplicitJokes"
        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option>Yes</option>
        <option>No</option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      </div>
    </div>
  </div>

  <div id="onlyExplicitContainer" class="px-4 inline hidden">
    <p class="inline">Only Dirty Jokes</p>
    <div class="inline-block relative w-20">
      <select id="onlyExplicitJokesSelect"
        class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option>No</option>
        <option>Yes</option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
      </div>
    </div>

  </div>
</div> 
---------------------------------------------------------------------------------------------------
<div style="width: 90%; padding-left: 30px; padding-top: 20px; height: 100%; text-align:center;">
  <table class="table">
    <thead class="thead-dark"> 
      <tr>
        <th style="border-bottom: 3px solid #924300;">Nr.</th>
        <th style="border-bottom: 3px solid #924300;">Joke</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let joke of jokes" style="border-top: 1px solid #924300;">
        <td style="border-top: 1px solid #924300;">{{joke.id}}</td>
        <td style="border-top: 1px solid #924300;">{{joke.name}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="row" style="height: 100%; width: 100%;">
  <div class="col-md-12">
    <mat-grid-list cols="2" rowHeight="8:3" style=" margin-left: 5px;">
      <h1 style="color: rgb(105, 18, 18); font-weight: bold;text-align: center; margin-bottom: 50px;"> Bancuri </h1>
      <mat-grid-tile *ngFor="let joke of jokes">
        <mat-card style="background: radial-gradient(circle, rgba(255,29,0,0.8547794117647058) 0%, rgba(255,147,45,0.8547794117647058) 50%, rgba(241,49,20,1) 100%);">
        <img src="{{joke.name}}" alt="{{joke.id}}" style="max-height: 250px; margin-right: 10px;" id="boxshadow"/>
      </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<!--  <mat-card style="background-color: #C7D6ED; height: fit-content; width: min-content;">

            <mat-card-title style="text-align: center; text-shadow: 3px 2px hsla(120, 100%, 25%, 0.7);">{{tile.data.name}}</mat-card-title>
            <br>
            <img style="max-width: 400px; max-height: 400px; width: auto; height: auto;" mat-card-image
                src="{{tile.data.photo}}" alt="{{tile.text}}" id="boxshadow">
                <br>
            <mat-card-content>
                <p style="text-align: center; text-shadow: 3px 2px rgba(255,0,0,0.3);">
                   <b> {{tile.data.description}} </b>
                </p>
            </mat-card-content>
            <button class="santaButton" mat-raised-button (click)="openDialog(tile.data)">Choose gift</button>
        </mat-card>-->