.large-intestines-card {
    max-width: 400px;
    position: absolute;
    margin-left: 350px;
  }

  /* .example-container {
    width: 120px;
    height: 1000px;
  }
  

  
  .example-sidenav {
    padding: 20px;
  } */




  /* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 110px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  margin-top: 500px;
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#disease {
  top: 20px;
  background-color: #555;
}

#treatment {
  top: 80px;
  background-color: #555;
}

#prevention {
  top: 140px;
  background-color: #555;
}
