<nav class="navbar navbar-inverse" id="boxshadow">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Medical App</a>
        </div>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li><a class="nav-link" routerLink="home">Home</a></li>
            <li *ngIf="authority === 'user'" class="nav-item">
                <a class="nav-link" routerLink="user">User Board</a>
            </li>
            <li *ngIf="authority === 'user'" class="nav-item">
                <a class="nav-link" routerLink="blood_donation">Blood Donation</a>
            </li>
            <li *ngIf="authority === 'user'" class="nav-item">
                <a class="nav-link" routerLink="forum">Forum</a>
            </li>
            <li *ngIf="authority === 'user'" class="nav-item">
                <a class="nav-link" routerLink="first_aid">First-aid</a>
            </li>
            <li *ngIf="authority === 'user'" class="nav-item">
                <a class="nav-link" routerLink="entertainment">Entertainment</a>
            </li>
            <li *ngIf="authority === 'admin'" class="nav-item">
                <a class="nav-link" routerLink="admin">Admin Board</a>
            </li>
            <li *ngIf="authority === 'pm'" class="nav-item">
                <a class="nav-link" routerLink="pm">PM Board</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
            <li *ngIf="!authority" class="nav-item"><a class="nav-link" routerLink="signup"><span
        class="glyphicon glyphicon-user"></span> Sign up</a></li>
            <li *ngIf="!authority" class="nav-item"><a class="nav-link" routerLink="auth/login"><span
            class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li *ngIf="authority" class="nav-item"><a class="nav-link" (click)="logout()" routerLink="home"><span
            class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<!-- <div class="container" style="padding-top: 20px;">
    <router-outlet></router-outlet>
</div> -->
<router-outlet></router-outlet>