<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Intoxicațiile pot pune viața în pericol. Cele mai multe cazuri de otrăvire în Marea Britanie se întâmplă atunci când
    o persoană a înghițit o substanță toxică, cum ar fi înălbitorul, a luat o supradoză a unei medicamente pe bază de
    rețetă sau a mâncat plante sălbatice și ciuperci. Intoxicația cu alcool poate provoca simptome similare.

    Dacă credeți că cineva a înghițit o substanță otrăvitoare, sunați la 999 sau la 112 pentru a primi ajutor medical și
    îndrumare imediată.

    Efectele otrăvirii depind de substanța înghițită, dar pot include vărsături, pierderea cunoștinței, durere sau o
    senzație de arsură. Următorul sfat este important:

    Aflați ce a fost înghițit, pentru a putea informa medicul paramedic sau medic.
    Nu acorda persoanei nimic care să mănânce sau să bea decât dacă te sfătuiește un profesionist din domeniul
    sănătății.
    Nu încercați să provocați vărsături.
    Rămâi cu persoana respectivă, deoarece starea lor se poate agrava și ar putea deveni inconștiente.
    Dacă persoana devine inconștientă în timp ce aștepți să ajute ajutor, verificați respirația și, dacă este necesar,
    efectuați RCP .

    Nu efectuați resuscitarea gură în gură dacă gura sau calea aeriană a victimei este contaminată cu otravă.

    Nu-i lăsați dacă sunt inconștienți, deoarece s-ar putea să se rostogolească pe spate, ceea ce i-ar putea provoca să
    vomite. Voma poate intra apoi în plămâni și să-i facă să sufocă.

    Dacă victima este conștientă și respiră normal, puneți-le în poziția de recuperare și continuați să le monitorizați
    starea conștientă și respirația.
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/heart_attack">Previous</a></li>
    <li><a routerLink="/first_aid/shock">Next</a></li>
  </ul>
</div>