:host {
    position: absolute;
    display: block;
    /* width: 100%;
    height: 100%; */
    width: 1px;
    height: 1px;
}

#LungsOverlay {
    fill: rgba(255, 255, 255, 0);
    pointer-events: visibleFill;
}

.lungsTooltip {
    z-index: 1;
}

.lungsSvg {
    pointer-events: none;
}