<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Dacă cineva a avut o șoc electrică, opriți curentul electric la rețeaua electrică pentru a rupe contactul dintre
    persoană și alimentarea electrică.

    Dacă nu puteți ajunge la sursa de alimentare:

    nu vă apropiați și nu atingeți persoana până nu sunteți sigur că alimentarea electrică a fost oprită
    odată ce alimentarea electrică a fost oprită și dacă persoana nu respiră, apelați 999 sau 112 pentru o ambulanță
    După aceea, solicitați ajutor medical - cu excepția cazului în care șocul electric este foarte minor.
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/drowning">Previous</a></li>
    <li><a routerLink="/first_aid/fracture">Next</a></li>
  </ul>
</div>