<!-- <div class="fixed-bg"></div> -->
<div class="container" style="margin-bottom: 20px;">
  <h2 style="margin-bottom: 50px; text-align: center;">{{title}}</h2>
  <p>
    Informațiile de mai jos sunt destinate sufocării la adulți și copii cu vârsta peste un an.

    Înăbușire ușoară <!-- bold -->
    Dacă calea aeriană este doar parțial blocată, persoana va putea, de obicei, să vorbească, să plângă, să tuseze sau
    să respire. În situații de genul acesta, o persoană va putea de obicei să elimine blocajul.

    Dacă sufocarea este ușoară:

    încurajați persoana să tuse să încerce să elimine blocajul
    rugați-i să încerce să scuipe obiectul dacă este în gura lor
    nu puneți degetele în gură pentru a-i ajuta, deoarece ar putea să vă muște accidental
    Dacă tusea nu funcționează, începeți loviturile înapoi (a se vedea mai jos).

    Sufocare severă <!-- bold -->
    Dacă sufocarea este severă, persoana nu va putea să vorbească, să plângă, să tusească sau să respire și fără ajutor,
    în cele din urmă, va deveni inconștientă.

    Pentru a ajuta un adult sau un copil peste un an:

    Stai în spatele persoanei și ușor într-o parte. Sprijiniți pieptul cu o mână. Înclinați persoana în față, astfel
    încât obiectul care le blochează căile respiratorii să iasă din gura lor, în loc să se deplaseze mai departe.
    Luați până la cinci lovituri ascuțite între omoplații persoanei cu călcâiul mâinii (călcâiul este între palma mâinii
    și încheietura mâinii).
    Verificați dacă blocajul s-a șters.
    Dacă nu, dați până la cinci bătăi abdominale (vezi mai jos).
    Măsurile abdominale nu trebuie utilizate la bebelușii sub un an, la femeile însărcinate sau la persoanele obeze.

    Pentru a efectua lovituri abdominale asupra unei persoane care se sufocă sever și nu se află într-unul dintre
    grupurile de mai sus:

    Stai în spatele persoanei care se sufocă.
    Puneți brațele în jurul taliei și îndoiți-le bine înainte.
    Strângeți un pumn și așezați-l chiar deasupra butonului persoanei.
    Puneți cealaltă mână deasupra pumnului și trageți brusc spre interior și în sus.
    Repetați acest lucru de până la cinci ori.
    Scopul este de a scoate obstrucția cu fiecare tracțiune în piept, mai degrabă decât în ​​mod obligatoriu să facă
    toate cele cinci.

    Dacă obstrucția nu se limpezește după trei cicluri de lovituri în spate și tracțiuni ale pieptului, formați 999 sau
    112 pentru a solicita o ambulanță și continuați până când vine ajutorul.

    Persoana care sufocă ar trebui să fie întotdeauna văzută de către un profesionist din domeniul sănătății pentru a
    verifica dacă există răni sau bucăți mici de obstrucție.
  </p>

  <ul class="pager">
    <li routerLinkActive="active"><a routerLink="/first_aid/burns">Previous</a></li>
    <li><a routerLink="/first_aid/drowning">Next</a></li>
  </ul>
</div>